		</div>
		<div id="footer-wrapper">
			<div id="footer">
				<!-- <div id="separator"></div> -->
				<span style="float: left; padding: 0 10px;">
					Copyright &#169; 2009-2010 
					<a href="http://simland.pl" style="background: none; margin: 0 0; padding: 2px 0;">Simland.pl</a> 
					[ debug ] -> <?php echo $_SESSION['queries']; ?> queries<!-- , seconds: <?php echo (time() - $start) / 1000; ?> -->
					<?php if (isset($_SESSION['initTime'])) { $remain = $_SESSION['initTime'] - time(); } ?>
					<?php if (isset($remain)) { $h = $remain%86400; $secs=$h%60; if ($secs>=0) echo "0m".$secs."s"; }?>
				</span>
				<span style="float: right; padding: 0 10px;">
					<a href="#">O nas</a>
					<a href="#">Pomoc</a>
					<a href="#">Polityka prywatności</a>
					<a href="#">Regulamin</a>
					<a href="#">Partnerzy</a>
					<a href="#">Kariera</a>
					<a href="#">Kontakt</a>
					<a href="#">Blog Simland.pl</a>
				</span>
			</div>
		</div>

		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try
			{
				var pageTracker = _gat._getTracker("UA-5304479-3");
				pageTracker._trackPageview();
			}
			catch (err)
			{ 
				
			}
		</script>
	</body>
</html>