<!-- <div id="clear"></div> -->
<div id="left" style="margin: 0 0 0 8px;">
<div class="<?php if (isset($register_message_class)) { echo $register_message_class; } ?>" style="<?php if (isset($register_message_style)) { echo $register_message_style; } ?>"><?php if (isset($register_message)) { echo $register_message; } ?></div>
	<div id=""></div>
	<div id="front">
		<div id="title3">Ostatnio dodane fotki</div>
		<div class="photo"><?php echo $latest_photos; ?></div>
	</div>
	<div id="clear"></div>
	<div id="front">
		<div id="title3">Ostatnio aktywni</div>
		<div class="photo"><?php echo $latest_six; ?></div>
	</div>
</div>
<div id="right">
	<!-- <div id="front">
		<div id="title3">Najnowsze komentarze</div>
		<?php echo $latest_comments; ?>
	</div>
	<div id="clear"></div>
	<div id="front">
		<div id="title3">Gorace wpisy na blogach</div>
		<?php echo $latest_blogs; ?>
	</div> -->
	
	<!-- <div id="title2" style="float: right;">
		<div class="edit">szybka rejestracja</div>
	</div>
	<div id="separator"></div> -->
	
	<div id="title3">Szybka rejestracja</div>
	<div id="reg_form_box_border">
		<div class="form_background" style="height: 270px;">
			<?php include($login_register_form); ?>
		</div>
	</div>
</div>