<div id="profile-avatar">
	<?php echo $profile_avatar; ?>
</div>
<div id="menu-and-name">
	<div class="user-name">
		<?php echo $profile_fullname; ?>
		<span class="add-to-friends">
			<a href="lolo">Dodaj do znajomych</a>
		</span>
	</div>
	<div class="status">
		<span><img src="http://localhost/simland/images/icons/flags/pl.png" style="position: relative; top: 1px; margin: 0 3px 0 0;"/> Wawa  </span>
		<span><img src="http://localhost/simland/images/icons/bullet_green.png" style="position: relative; top: 4px; margin: 0 0px 0 2px;"/> Siedze sobie na czubku drzewa i mam wszystko gdzies :)</span>
	</div>
	<?php echo $profile_menu; ?>
</div>
<div id="clear"></div>
