<!-- <div id="sub-menu">
	<span class="link" style="background: url('../images/icons/addAlbum.png') 0% 27% no-repeat;">
		<a href="lolo">Dodaj nowy album</a>
	</span>
	<span class="link" style="background: url('../images/icons/picture_add.png') 0% 27% no-repeat;">
		<a href="http://localhost/simland/profile/gallery/addphoto/">Dodaj nowe zdjecie</a>
	</span>
</div> -->

<div id="gallery-navigation">
	<span class="vector-left" style="background: url('<?php echo URL_IMG_ICONS; ?>gallery.png') 0% 27% no-repeat;">
		<?php echo $left; ?>
		<!-- <a href="lolo">Dodaj nowy album</a> -->
	</span>
	<span class="vector-right">
		<?php if (isset($right)) { echo $right; } ?>
		<!-- <a href="http://localhost/simland/profile/gallery/addphoto/">Dodaj nowe zdjecie</a> -->
	</span>
</div>

<div id="clear"></div>
<div id="photo-album">
	<?php echo $showcase; ?>
</div>