<!-- <div id="clear"></div> -->
<!-- <div id="photo-album">
<img src="http://localhost/simland/images/photos/57/thumbs/68_0008.jpg" />
</div>
<div id="photo-album">
</div>
<div id="photo-album">
</div>
<div id="photo-album">
</div>
<div id="photo-album">
</div> -->


<!-- <div id="photo-album">
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0008.jpg" />
		</a>
		<div>
		<a href="lolo2">
			Klopcio Popcio
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98
		</div>
		</div>
	</div>
</div> -->

<!-- <div id="sub-menu">
	<span class="link" style="background: url('../images/icons/addAlbum.png') 0% 27% no-repeat;">
		<a href="lolo">Dodaj nowy album</a>
	</span>
	<span class="link" style="background: url('../images/icons/picture_add.png') 0% 27% no-repeat;">
		<a href="http://localhost/simland/profile/gallery/addphoto/">Dodaj nowe zdjecie</a>
	</span>
</div> -->

<div id="clear"></div>
<div id="photo-album">
	<?php echo $showcase; ?>
	<!-- <div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0008.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			Nazwa pierwszego albumu
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 10 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0009.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			W drodze na Mount Everest
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 14 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0010.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			bez tytulu
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 3 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0011.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			Moja balbinka
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 1 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0012.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			W domu na dzialce
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 8 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			<img src="http://localhost/simland/images/photos/57/thumbs/68_0013.jpg" />
		</a>
		<div class="credits">
		<a href="lolo2">
			moj wnusio
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98 | 50 fotek
		</div>
		</div>
	</div>
	<div class="photo_frame">
		<span></span>
		<a href="lolo">
			
		</a>
		<div class="credits">
		<a href="lolo2">
			bez tytu³u
		</a>
		<div class="photo_frame_date">
			2010-11-90 23-98
		</div>
		</div>
	</div> -->
</div>