<div id="title3">Rejestracja</div>
<div class="<?php if (isset($register_message_class)) { echo $register_message_class; } ?>" style="<?php if (isset($register_message_style)) { echo $register_message_style; } ?>"><?php if (isset($register_message)) { echo $register_message; } ?></div>

<script src="<?php echo BASE_URL; ?>js/registerHints.js" type="text/javascript"></script>

<div id="reg_form_box_border">
	<div class="form_background" style="height: 270px;">
		<div style="width: 320px; margin: 0 auto;">
		<?php include($login_register_form); ?>
		</div>
	</div>
</div>